<% form_for :company, "/admin/company/save/#{params[:id]}", :id => 'admin-form', :multipart => true do |f| %>



<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboards</h6>
    <h2 class="dashhead-title">Companies</h2>
  </div>
  <div class="btn-toolbar dashhead-toolbar">
    <% if !params[:id].nil? %>
    <!-- <a href="/admin/company/import_codes" class="btn btn-primary">Import Codes</a> -->
    <a href="/admin/company/<%= params[:id] %>/codes" class="btn btn-success">View Promo Codes</a>
    <% end %>
    <button class="btn btn-primary-outline">Save Company</button>
  </div>
</div>

<hr class="m-t">


<div class="row">
  <div class="col-md-6">



<section class="content-header bd-example">

  <div class="field row" id="field_company">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :company, :caption => "Company", :required => true %>
        <%= f.text_field :company, :class => 'form-control', :required => true, :placeholder => 'Uber' %>
      </div><!-- /.form-group -->
    </div><!-- /.col -->
  </div><!-- /.row -->

  <div class="field row" id="field_title">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :title, :caption => "Title" %>
        <%= f.text_field :title, :class => 'form-control', :placeholder => 'Uber is the largest taxi service' %>
      </div>
    </div>
  </div><!-- /.row -->

  <div class="field row" id="field_description">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :description, :caption => "Description" %>
        <%= f.text_area :description, :class => 'form-control', :placeholder => 'With uber, anyone can get to one place to another within minutes. ' %>
      </div>
    </div>
  </div><!-- /.row -->

  <!-- 
  <div class="field row" id="field_industry">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :industry, :caption => "Industry" %>
        <%= f.text_field :industry, :class => 'form-control', :placeholder => 'taxi' %>
      </div><
    </div>
  </div>-->



  <div class="field row" id="field_logo_url">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :logo_url, :caption => "Company Logo" %>
        <%= f.file_field :logo_url, :class => 'form-control' %>
      </div>
      <img src="<%= @company[:logo_url] %>" class="img-responsive">
      <!-- /.form-group -->
    </div>
    <!-- /.col -->
  </div>



  <div class="field row" id="field_status">
    <div class="col-md-12">
      <div class="form-group">
        <% if session[:user][:role] == "admin" %>
        <%= f.label :status, :caption => "Status", :required => true %>
        <%= f.select :status, :options => ['active','inactive','pending'], :class => 'form-control select2', :required => true %>
        <% else %>
        Status: <%= @company[:status] || 'new' %>
        <% end %>
      </div><!-- /.form-group -->
    </div><!-- /.col -->
  </div><!-- /.row -->



  <!-- /.box -->
</section>



</div>


<div class="col-md-6">

<section class="content-header bd-example">

  <div class="field row" id="field_promo_text">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :promo_text, :caption => "New User Incentive" %>
        <%= f.text_field :promo_text, :class => 'form-control', :placeholder => '$20 off first ride' %>
      </div><!-- /.form-group -->
    </div><!-- /.col -->
  </div><!-- /.row -->  

  <!-- <div class="field row" id="field_commission_type">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :commission_type, :caption => "Commission Type", :required => true %>
        <%= f.select :commission_type, :options => ['dollar','pct'], :class => 'form-control select2', :required => true %>
      </div>
    </div>
  </div>-->
  <input type="hidden" name="commission_type" value="dollar">

  <div class="field row" id="field_commission_amount">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :commission_amount, :caption => "CPA" %>
        <%= f.text_field :commission_amount, :class => 'form-control', :placeholder => '30' %>
      </div><!-- /.form-group -->
    </div><!-- /.col -->
  </div><!-- /.row -->

  <div class="field row" id="field_markett_amount">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :markett_amount, :caption => "Markett Fee" %>
        <%= f.text_field :markett_amount, :class => 'form-control', :placeholder => '10' %>
      </div><!-- /.form-group -->
    </div><!-- /.col -->
  </div><!-- /.row -->





  <div class="field row" id="field_playbook_url">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :playbook_url, :caption => "Playbook File" %>
        <%= f.file_field :playbook_url, :class => 'form-control' %>
        <a href="<%= @company[:playbook_url] %>" target="_blank"><%= @company[:playbook_url] %></a>
      </div>
      
      <!-- /.form-group -->
    </div>
    <!-- /.col -->
  </div>

  <div class="field row" id="field_reference_guide_url">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :reference_guide_url, :caption => "Reference Guide File" %>
        <%= f.file_field :reference_guide_url, :class => 'form-control' %>
        <a href="<%= @company[:reference_guide_url] %>" target="_blank"><%= @company[:reference_guide_url] %></a>
      </div>      
      <!-- /.form-group -->
    </div>
    <!-- /.col -->
  </div>

  <div class="field row" id="field_promo_cards_url">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :promo_cards_url, :caption => "Promo Cards URL" %>
        <%= f.text_field :promo_cards_url, :class => 'form-control' %>
      </div>
      <!-- /.form-group -->
    </div>
    <!-- /.col -->
  </div>







</section>

</div>


</div>



<% end %>