  <style>

  </style>


<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboards</h6>
    <h2 class="dashhead-title">Companies</h2>
  </div>
  <div class="btn-toolbar dashhead-toolbar">
    <div class="btn-group">
      <a href="/admin/company" type="button" class="btn btn-primary-outline">
      Create New <span class="icon icon-plus"></span>
      </a>
    </div>
  </div>
</div>

<hr class="m-t">

<div class="flextable table-actions">
  <div class="flextable-item flextable-primary">
    <div class="btn-toolbar-item input-with-icon">
      <input type="text" class="form-control input-block" placeholder="Search companies">
      <span class="icon icon-magnifying-glass"></span>
    </div>
  </div>
  <div class="flextable-item">
    <div class="btn-group">
      <!-- <a href="/admin/company" type="button" class="btn btn-primary-outline">
      Add <span class="icon icon-plus"></span>
      </a> -->
    </div>
  </div>
</div>
<div class="table-full">
  <div class="table-responsive">
    <table class="table" data-sort="table" id="sortable">
      <thead>
        <tr>
          <th><input type="checkbox" class="select-all" id="selectAll"></th>
          <th class="headerSortUp">ID</th>
          <!-- <th>Rank</th> -->
          <th>Company</th>
          <th>Logo</th>          
          <th>Created</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @companies.each_with_index do |company, i| %>
        <tr data-id="<%= company[:id] %>">
          <td><input type="checkbox" class="select-row"></td>
          <td><%= company[:id] %></td>
          <!-- <td><%= company[:rank] %></td> -->
          <!-- <td><%= i %></td> -->
          <td><%= company[:company] %></td>
          <td><img src="<%= company[:logo_url] %>" style="max-width: 80px; max-height: 80px;"></td>
          <td><%= company[:created_at].strftime("%m/%d/%y") %></td>
          <td>
            <a href="/admin/company/<%=company[:id] %>/codes" class="btn btn-primary-outline btn-sm">Manage Codes <span class="icon icon-pencil"></span></a>
            <a href="/admin/company/<%=company[:id] %>" class="btn btn-primary-outline btn-sm">Edit <span class="icon icon-pencil"></span></a>
            <a href="/admin/company/delete/<%=company[:id] %>" data-remote="true" data-confirm="Are You Sure?" class="btn btn-primary-outline btn-sm">Delete <span class="icon icon-erase"></span></a>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="text-center">

  <%= will_paginate @companies, renderer: BootstrapPagination::Sinatra, :previous_label => '&laquo;', :next_label => '&raquo;' %>
  
</div>


<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
$(function() {


  $( "#sortable tbody" ).sortable({
    update : function(event, ui) {
      var items = [];
      var rows = $('#sortable tbody tr');
      $.each( rows, function(i, row){
        var id = $(this).data('id');
        $.get("/admin/company/reorder/"+id, {rank: i}, function(res){
          // console.log(res);
        });  
      });
      toastr.success("Re-ordered!")
      return true;
    }
  });
  $( "#sortable" ).disableSelection();
});
</script>