<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboards</h6>
    <h2 class="dashhead-title">Earnings</h2>
  </div>
</div>


<% if @transactions.empty? %>
<hr class="m-t">
<h3>Not even a dime :(</h3>
<p></p>
<br>
<img class="" src="https://media.giphy.com/media/3o7Zeof8ZuJs45nmkU/giphy.gif">
<% else %>

<hr class="m-t">
<% if !@balance.nil? %>
<h3>
You've earned <%= number_to_currency(@balance) %>!
<span class="pull-right"><a href="/admin/withdrawls" class="btn btn-success-outline">Request Withdraw</a></span>
</h3>
<hr>
<% end %>

<h4 class="list-group-header">
Your Earnings
</h4>
<table class="table table-striped ">
  <tbody>
    <thead class="thead-">
      <tr>
        <th>Company</th>
        <th>Code</th>
        <th>Used</th>
        <th>Earned</th>
        <th>Created</th>
      </tr>
    </thead>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.company[:company] %></td>
      <td><%= transaction.code[:code] %></td>
      <td><%= transaction[:num_used] %></td>
      <td><%= number_to_currency(transaction[:amount]) %></td>
      <td><%= transaction[:created_at].strftime("%m/%d/%y") %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center">
  <%= will_paginate @transactions, renderer: BootstrapPagination::Sinatra, :previous_label => '&laquo;', :next_label => '&raquo;' %>  
</div>

<% end %>