<style>
  .trig_soon {
    background-color: yellow;
  }
</style>
<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboards</h6>
    <h2 class="dashhead-title">Market Companies</h2>
  </div>
  <div class="btn-toolbar dashhead-toolbar">
    <!-- <div class="btn-group">
      <a href="/admin/post" type="button" class="btn btn-primary-outline">
      Create New <span class="icon icon-plus"></span>
      </a>
    </div> -->
  </div>
</div>

<hr class="m-t">

<a href="/admin/promote" class="btn btn-primary">All</a>
<a href="/admin/promoted" class="btn btn-primary-outline">My Codes</a>
<br><br><br>

<div class="row">

<% @companies.each do |company| %>
  <div class="col-md-4" style="margin-bottom: 10px;">
    <div class="card text-xs-center">
      <div class="card-block">
        <div class="card-header"><strong><%= company[:company] %></strong></div>
        <table style="width: 100%; height: 150px;"><tr><td align="center" style="text-align: center;"><img class="" style="max-height: 100px; max-width: 200px;" src="//<%=setting('site_host')%><%= URI.escape(company[:logo_url]) %>"></td></tr></table>
        <h4 class="card-title">Earn $<%= company[:commission_amount] %> per signup</h4>
        <p class="card-text"><%= company[:description] %></p>
        <% if company[:status] == 'soon' %>
          <a href="/admin/promote/<%= company[:id] %>" class="btn btn-default-outline btn-sm disabled">Coming Soon</a>
        <% else %>
          <a href="/admin/promote/<%= company[:id] %>" class="btn btn-success trig_get_code">Get the code</a>
        <% end %>
      </div>
      <div class="card-footer text-muted">
        <%= company[:promo_text] %>
      </div>
    </div>
  </div>
<% end %>

</div>


<script>
  $(document).ready(function(){

    $('body').on('click', '.trig_get_code', function(e){
      e.preventDefault();

      var msg = "<div style='text-align: left;'>";
      msg += "Please take a moment to review the our Terms and Conditions before proceeding. Here are some highlights to help you understand your engagement with Markett.<br><br>";
      msg += "<ol>";
      msg += "<li>A marketer’s unique promo code must be used for the marketer to receive credit for the New User.</li>";
      msg += "<li>Commissions are paid for first-time New Users only. A New User must be a real person with a unique name, address, phone number and billing method. Duplicate accounts, re-signups or alias accounts will be treated as fraudulent and may result in removal from the Markett Platform.</li>";
      msg += "<li>Marketers must be at least 18 years old in order to use the Markett Platform.</li>";
      msg += "<li>Any illegal or fraudulent activity will be grounds for removal from the Markett Platform</li>";
      msg += "<li>Profanity or vulgarity may not be used in order to market and will be grounds removal from the Markett Platform</li>";
      msg += "<li>Harassment or spamming in order to market will be grounds removal from the Markett Platform</li>";
      msg += "</ol>";
      msg += "</div>";

      var redir_url = $(this).attr('href');

      swal({   
        title: "Are you sure?",   
        text: msg,
        html: true,
        type: "warning",   
        showCancelButton: true,   
        confirmButtonColor: "green",   
        confirmButtonText: "Yes, I agree",   
        closeOnConfirm: false 
      }, function(){   
        
        location.href = redir_url;
        return true;
      });
    });    

    $('body').on('click', '.trig_soon', function(e){
      e.preventDefault();
      $(this).alert("Coming Soon");
      $(this).addClass('disabled');
    });
  });
</script>