<style>
section h3 { padding-bottom: 10px;}
</style>
<form action="/admin/settings/save" method="POST" id="settings_form">
    <div class="dashhead">
        <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">Dashboards</h6>
            <h2 class="dashhead-title">Settings</h2>
        </div>
        <div class="btn-toolbar dashhead-toolbar">
            <button class="btn btn-primary-outline">Save Settings</button>
        </div>
    </div>

    <div class="row">

        <section class="content-header bd-example">

            <h3>Site</h3>
            <div class="col-md-12">

                <div class="field row">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="site_title" value="<%= @settings[:site_title] %>" class="form-control" placeholder="Markett" />
                    </div>
                </div>

                <div class="field row">
                    <div class="form-group">
                        <label>Host</label>
                        <input type="text" name="site_host" value="<%= @settings[:site_host] %>" class="form-control" placeholder="markett.io" />
                    </div>
                </div>

            </div>

        </section>

        <section class="content-header bd-example">

            <h3>Team</h3>
            <div class="col-md-12">

                <div class="field row">
                    <div class="form-group">
                        <label>Default Open Slots</label>
                        <input type="text" name="open_slots" value="<%= @settings[:open_slots] || 3 %>" class="form-control" placeholder="Markett" />
                    </div>
                </div>

            </div>

        </section>


        <section class="content-header bd-example">

            <h3>Stripe Payout Integration</h3>
            <div class="col-md-12">

                <div class="field row">
                    <div class="form-group">
                        <label>Connect via Plaid</label>
                        <br>
                        <% if @settings[:stripe_bank_account_token].nil? %>
                        <button id='linkButton' class="btn btn-primary-outline">Connect Bank Account</button>
                        <% else %>
                        <button id='linkButton' class="btn btn-success">Bank Connected</button>
                        <% end %>
                    </div>
                </div>

                <div class="field row">
                    <div class="form-group">
                        <label>Stripe Customer ID</label>
                        <input type="text" name="stripe_customer_id" value="<%= @settings[:stripe_customer_id] %>" class="form-control" placeholder="cus_13dni3" />
                    </div>
                </div>

                <div class="field row">
                    <div class="form-group">
                        <label>Stripe Bank Account Token</label>
                        <input type="text" name="stripe_bank_account_token" value="<%= @settings[:stripe_bank_account_token] %>" class="form-control" placeholder="bok_sdf" />
                    </div>
                </div>

            </div>

        </section>

    </div>
</form>



<script src="https://cdn.plaid.com/link/stable/link-initialize.js"></script>
<script>
var linkHandler = Plaid.create({
  env: 'production',
  clientName: 'Markett',
  key: "<%= setting('plaid_pubkey') %>",
  product: 'auth',
  selectAccount: true,
  onSuccess: function(plaid_token, metadata) {
    // Send the public_token and account ID to your app server.
    console.log('public_token: ' + plaid_token);
    console.log('account ID: ' + metadata.account_id);
    console.log(metadata);
    $.post("/admin/plaid/token", {plaid_token: plaid_token, metadata: metadata}, function(res){
        console.log(res);
        $('form input[name=stripe_customer_id]').val(res.stripe.customer_id);
        $('form input[name=stripe_bank_account_token]').val(res.stripe.bank_account_token);
    });

  },
});
// Trigger the Link UI
document.getElementById('linkButton').onclick = function(e) {
    e.preventDefault();
    linkHandler.open();
};
</script>
