<% form_for :code, "/dashboard/company/#{params[:id]}/codes/add", :id => 'admin-form', :multipart => true do |f| %>
<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboards</h6>
    <h2 class="dashhead-title">Promo Codes</h2>
  </div>
  <div class="btn-toolbar dashhead-toolbar">
    <% if !params[:id].nil? %>
    <!-- <a href="/dashboard/company/import_codes" class="btn btn-primary">Import Codes</a> -->
    <a href="/dashboard/company/<%= params[:id] %>" class="btn btn-primary-outline">Go Back</a>
    <% end %>
    <!-- <button class="btn btn-primary-outline">Save Codes</button> -->
  </div>
</div>
<hr class="m-t">
<div class="row">
  <div class="col-md-8">
    <h4>List All</h4>
    <section class="content-header bd-example">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Code</th>
            <th>Assigned To</th>
            <th># Used</th>
            <th>Added</th>
          </tr>
        </thead>
        <tbody>

          <% @codes.each do |code| %>
          <tr>
            <th scope="row"><%= code[:code] %></th>
            <td><%= code.user[:email] %></td>
            <td><%= code[:num_used] %></td>
            <td><%= code[:created_at].strftime("%m/%d/%y") %></td>
          </tr>
          <% end %>

        </tbody>
      </table>
      <div class="text-center">
      <%= will_paginate @codes, renderer: BootstrapPagination::Sinatra, :previous_label => '&laquo;', :next_label => '&raquo;' %>
    </div>
    </section>
  </div>
  <div class="col-md-4">
    <h4>Add Promo Codes</h4>
    <section class="content-header bd-example">
      <div class="field row" id="field_company">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.label :codes, :caption => "Codes (multiple lines)", :required => false %>
            <%= f.text_area :codes, :class => 'form-control', :rows => 10, :required => false, :placeholder => "JOEFREERIDE\n\NEWCODE" %>
            <br>
            <%= f.label :codes, :caption => "Or upload CSV", :required => false %>
            <%= f.file_field :csv_file, :class => 'form-control' %>
            <p><a href="/sample/markett_sample_codes.csv" target="_blank">Download Sample CSV</a></p>
          </div><!-- /.form-group -->
        </div><!-- /.col -->
      </div><!-- /.row -->
      <button class="btn btn-primary-outline">Add</button>
        
    </section>
          
  </div>
</div>
<% end %>