<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboards</h6>
    <h2 class="dashhead-title">Earnings</h2>
  </div>
</div>


<% if @transactions.empty? %>
<hr class="m-t">
<h3>Not even a dime :(</h3>
<p></p>
<br>
<img class="img-responsive" src="https://media.giphy.com/media/3o7Zeof8ZuJs45nmkU/giphy.gif">
<% else %>

<hr class="m-t">
<% if !@balance.nil? %>
<h3>
You've earned a total of <%= number_to_currency(@balance) %>!
</h3>

<% end %>
<br> 
<table class="table table-bordered">
  <tbody>
    <thead class="thead-">
      <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Description</th>
        <th>Earned</th>
      </tr>
    </thead>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction[:created_at].strftime("%m/%d/%y") %></td>
      <td><%= transaction[:type] %></td>
      <td>
        <% if transaction[:type] == "activation" %>
          <%= transaction[:num_used] %> activations @ <%= transaction.company[:company] %>
        <% else %>
          <%= transaction[:label] %>
        <% end %>
      </td>
      <td><%= number_to_currency(transaction[:amount]) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<div class="text-center">
  <%= will_paginate @transactions, renderer: BootstrapPagination::Sinatra, :previous_label => '&laquo;', :next_label => '&raquo;' %>  
</div>

<% end %>