<div class="dashhead">
  <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboards</h6>
    <h2 class="dashhead-title">Market Companies</h2>
  </div>
  <div class="btn-toolbar dashhead-toolbar">
  </div>
</div>

<hr class="m-t">

<a href="/dashboard/promote" class="btn btn-primary-outline">All</a>
<a href="/dashboard/promoted" class="btn btn-primary">My Codes</a>

<br><br><br>

<div class="row">

<% if @companies.blank? %>
<p class='example-bd'>You haven't selected any companies, please select one.</p>
<% end %>

<% @companies.each do |company| %>
  <div class="col-md-4" style="margin-bottom: 10px;">
    <div class="card text-xs-center">
      <div class="card-block">
        <div class="card-header"><strong><%= company[:company] %></strong></div>
        <table style="width: 100%; height: 150px;"><tr><td align="center" style="text-align: center;"><img class="" style="max-height: 100px; max-width: 200px;" src="//<%=setting('site_host')%><%= URI.escape(company[:logo_url]) %>"></td></tr></table>
        <h4 class="card-title">Earn $<%= company[:commission_amount] %> per signup</h4>
        <p class="card-text"><%= company[:description] %></p>
        
        <code><%= company[:code] %></code>
        <br><br>
        <div>
          
          <% if !company[:playbook_url].nil? %><a href="<%=company[:playbook_url]%>" target="_blank" class="btn btn-success-outline btn-xs">Playbook</a><% end %>
          <% if !company[:reference_guide_url].nil? %><a href="<%=company[:reference_guide_url]%>" target="_blank" class="btn btn-success-outline btn-xs">Ref. Guide</a><% end %>
          <% if !company[:promo_cards_url].nil? %><a href="<%=company[:promo_cards_url]%>" target="_blank" class="btn btn-success-outline btn-xs">Promo Cards</a><% end %>
        </div>
      </div>
      <div class="card-footer text-muted">
        <div><%= company[:promo_text] %></div>
      </div>
      <!-- <div>
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_googleplus_large' displayText='Google +'></span>
        <span class='st_linkedin_large' displayText='LinkedIn'></span>
        <span class='st_digg_large' displayText='Digg'></span>
        <span class='st_email_large' displayText='Email'></span>
      </div> -->
    </div>
  </div>
<% end %>

</div>



